*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
.main{    
    width: 100%;
    height: 100vh;  
}
nav{
    background-color: black;
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: relative;
}
nav ul{
    float: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    padding: 30px;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    transition: 0.9s all;
 
    color: black;
}
.dropImg {
    width: 40px;
    background-color: white;
}
.dropdown {
    position: absolute;
    top: 2.5%;
    left: 5%;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {
    background-color: #ddd;    
}
  
.show {
    display: block;
}

.red{
    color: white;
}
.orange{
    color: black;
 
}
.blue{
    color: white;
}
.rotated-menu {
    -webkit-transform: rotate(90deg);
    transition: 0.9s all;
}
.html{
    position: absolute;
    top:0%;
    width: 30%;
    height: 30%;
    border: 10px solid black;
    text-align: center;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 80%;
    font-family: sans-serif;  
}
.css{
    position: absolute;
    top:35%;
    width: 30%;
    height: 30%;
    border: 10px solid black;
    text-align: center;
    margin-left: 3%;
    margin-top: 10%;
    font-size: 80%;
    font-family: sans-serif;
    left:15%;   
}
.react{
    position: absolute;
    top:35%;
    width: 30%;
    height: 30%;
    border: 10px solid black;
    text-align: center;
    margin-left: 3%;
    margin-top: 10%;
    font-size: 80%;
    font-family: sans-serif;
    left:48%; 
}
.js{
    position: absolute;
    top: 0%;
    width: 30%;
    height: 30%;
    border: 10px solid black;
    text-align: center;
    margin-left: 67%;
    margin-top: 10%;
    font-size: 80%;
    font-family: sans-serif;  
}
.csharp{
    position: absolute;
    top: 0%;
    width: 30%;
    height: 30%;
    border: 10px solid black;
    text-align: center;
    margin-left: 3%;
    margin-top: 10%;
    font-size: 80%;
    font-family: sans-serif;
}
.html:hover{
    background-color: orangered;
}
.css:hover{
    background-color: rgb(9, 135, 219);
}
.js:hover{
    background-color: yellow;
}
.react:hover{
    background-color: yellow;
}
.csharp:hover{
    background-color: rgb(9, 135, 219);
}
.text{
    padding: 20%;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px){
    .text{
        top: 40%;
        right: 30%;      
    }
}
@media only screen and (max-width: 1024px){
    .box{
        width: 80%;
        top: 20%;
        right: 10%;
     }
    
}
@media only screen and (max-width: 600px){
    nav ul{
        display: none;
    }
}
@media only screen and (max-width:360px){
    .box{
        top: 30%;
    }
    .orange{
       font-size: 37px;
    }
}